<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ebase.hkgrox.com.ebase">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />

    <application
        android:name=".util.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.Before_Premium_Retailer"></activity>
        <activity android:name=".ui.Pr_points_tally" />
        <activity android:name=".ui.Coupondetails" />
        <activity android:name=".ui.OldPremiumReport" />
        <activity android:name=".ui.CheckAllMonthPremiumRetailer" />
        <activity android:name=".ui.upgrade_user" />
        <activity android:name=".ui.Upgrade_user" />
        <activity android:name=".ui.PremiumRetailerReport" />
        <activity android:name=".RegisterationActivity" />
        <activity android:name=".ui.MessageActivity" />
        <activity android:name=".item_premium_retailer" />
        <activity android:name=".Premium_Retailer" />
        <activity android:name=".ui.SendNotification" />
        <activity android:name=".ui.UserAddress" />
        <activity android:name=".ui.Registration" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FirstPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.Vendordetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.Giftstatus"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".GiftAdminUserDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.Couponstatus"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.Report_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.Reportbydate"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".DownloadCoupon"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.SelectVender"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.Registervender"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.AvailedGiftUser"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.DailyVisitReport"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.trackvisit"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.Newaddcoupon"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.Reports"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.Forget"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />

        <service
            android:name=".ui.FirebaseInstanceIdService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChangePasswordActivityVender"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UserHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.ExecutivesSale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ManagersSale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UserPointsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ManagerHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.ManagersAddSale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExecutiveHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".ui.ExecutivesSaleAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ContactUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Products"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Enquiry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AdminHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CouponSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CouponAdminUserDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StaffForm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PointsDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Indivisual"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExecutiveCompiled"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ManagerCompiled"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StaffEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GIFT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GiftDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CouponGifts"
            android:screenOrientation="portrait" />
    </application>

</manifest>